//colors

$body: #d4d4d4;


$main-header: black;
$main-body: #37486D;
$main-bodytwo: #519ca5;

$rock-body: #401841;
$rock-bodytwo: #602d90;

$rap-body: #990000;
$rap-bodytwo: #9a1d20;

$country-body: #704633;
$country-bodytwo: #633f17;

$pop-body: #9EAD8A;
$pop-bodytwo: #041871;


//other colors
$gray: #1e1e1e;
$silver: #CCCCCC;
$deep-blue: #00BFFF;
$white: white;


// country: #633f17;
// background color for counry divs: #633f17 with .4 opacity
//
// rap: #9a1d20;
// background color for counry divs: #9a1d20 with .4 opacity
//
// rock: #602d90;
// background color for counry divs: #602d90 with .4 opacity
//
// pop: #041871;
// background color for counry divs: #041871 with .4 opacity
