//colors

$body: #d4d4d4;


$main-header: black;
$main-body: #37486D;
$main-bodytwo: #519ca5;

$rock-body: #401841;
$rock-bodytwo: rgb(96,45,144);

$rap-body: #990000;
$rap-bodytwo: rgb(154,29,32);

$country-body: #704633;
$country-bodytwo: rgb(99,63,23);//#633f17;

$pop-body: #9EAD8A;
$pop-bodytwo: rgb(4,24,113);


//other colors
$gray: #1e1e1e;
$silver: #CCCCCC;
$deep-blue: #00BFFF;
$white: white;

$countryBG: rgb(99,63,23);
$alpha: .4;
