//colors

$main-header: #554250;
$main-body: #37486D;
$main-bodytwo: #519ca5;

$rock-body: #401841;
$rock-bodytwo: #811C4E;

$rap-body: #990000;
$rap-bodytwo: #7e7e7e;

$country-body: #704633;
$country-bodytwo: #cbd8de;

$pop-body: #9EAD8A;
$pop-bodytwo: #97CABD;


//other colors
$gray: #1e1e1e;
$silver: #CCCCCC;
$deep-blue: #00BFFF;
