@import "variables";
@import url('https://fonts.googleapis.com/css?family=New+Rocker|Bungee+Inline|Lobster|Rock+Salt|Pacifico|Oswald');

html, body {
  height: 100%;
  width: 100%;
  background-color: $body;
}

// .bigview{
//   height: 100%;
//   width: 100%;
//   padding: 1rem 1 rem;
// }

footer{
  border-bottom: 90px solid $main-header;
  width: 100%;
  padding: 1rem;
  position: relative;
  margin: 0;
  img {
    width: 100%;
    margin-bottom: -17px;
  }
}

header {
  background-color: $main-header;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  h1 {
    font-family: 'Oswald', sans-serif;
    color: $white;
    position: relative;
    margin-bottom: 0px;
    font-size: 5rem;
    /*top: 18px;
    left: 10px;*/
  }
  p {
    padding-top: 2rem;
  }
  a {
    text-decoration: none;
  }
  div.logo{
    width: 90%;
  }
  div.header-title{
    width: 100%;
    margin-top: 5%;
  }

}

.main-description{
  background-color: $white;
  padding: 1rem 1rem;
  margin: 5% auto;
  position: relative;
  border: solid 1.5px black;
  border-radius: 5px;
  max-width: 80%;
  h4 {
    padding-right: .5em;
    padding-left: .5em;
    padding-top: 1rem;
  }
  p {
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 1em;
  }
}

.mainview {
  min-height: 90vh;
}

.generator{
  background-color: $white;
  background-image: url(images/headphones_bw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0% auto;
  padding: 1rem 1rem;
  padding-bottom: 10px;
  position: relative;
  border: solid 1.5px black;
  border-radius: 5px;
  max-width: 80%;
  h6 {
    font-weight: bold;
    margin-bottom: .5rem;
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media (min-width: 400px) {
  .generator {
     background-size: 250%;
     background-position: -234px;
  }

}

@media (min-width: 550px) {
  .generator {
     background-size: 220%;
  }

}

@media (min-width: 750px) {
  .generator {
     background-size: 175%;
     background-position: -180px;
  }

}

@media (min-width: 1000px) {
  .generator {
     background-size: 130%;
     background-position: -80px;
  }

}

#yearpadding {
  padding-top: 1rem;
}

#countryview {
  padding: 1rem 1rem;
  h1, h3 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: $country-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $country-bodytwo;
  }
  div.country {
    background-color: rgba($country-bodytwo, $alpha);
  }
  .country-wrapper {
    background-color: rgba($country-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    max-width: 80%;
    margin: auto;
    padding: 1rem 1rem;
    position: relative;
  }
}


#popview {
  padding: 1rem 1rem;
  h1, h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: $pop-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $pop-bodytwo;
  }
  div.pop  {
    background-color: rgba($pop-bodytwo, $alpha);
  }
  .pop-wrapper {
    background-color: rgba($pop-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    margin: auto;
    padding: 1rem 1rem;
    position: relative;
    max-width: 80%;
  }

}

#rockview {
  padding: 1rem 1rem;
  width: auto;
  h1, h3 {
    font-family: 'New Rocker', cursive;
    text-align: center;
    color: $rock-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $rock-bodytwo;
  }
  div.rock {
    background-color: rgba($rock-bodytwo, $alpha);
  }
  .rock-wrapper {
    background-color: rgba($rock-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    margin: auto;
    padding: 1rem 1rem;
    position: relative;
    max-width: 80%;
  }
}


#rapview {
  padding: 1rem 1rem;
  h1, h3 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: $rap-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $rap-bodytwo;
  }
  div.rap {
    background-color: rgba($rap-bodytwo, $alpha);
  }
  .rap-wrapper {
    background-color: rgba($rap-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    margin: auto;
    padding: 1rem 1rem;
    position: relative;
    max-width: 80%;
  }
}

div.video{
  margin: auto;
  text-align: center;
  padding: 1rem 1rem;
  position: relative;
  max-width: 80%;
  background-color: black;
}

.artistBio {
  margin: 5% auto;
  padding: 1rem 1rem;
  position: relative;
  border: solid 1.5px black;
  border-radius: 5px;
  max-width: 80%;
  p {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.topAlbums, .similarArtist, {
  padding: 1rem 1rem;
  p {
    text-align: center;
  }
}

p {
  font-family: helvetica;
  padding-right: 1em;
  padding-left: .5em;
}
li {
    font-family: helvetica;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -2em;
    padding-left: 2.2em;
}

button {
 display: block;
 margin-top: 1%;
 margin-left: 1em;
 margin-bottom: 1em;
}

.animate
{
 text-transform: uppercase;
 text-align: center;
 color: black;
 font-family: "Nunito", sans-serif;
 font-size: 15px;

 width: 12em;
 padding-left: 5px;
 padding-right: 1em;
 padding-bottom: 1em;


 background: black;
 border: 1px solid black;
 color: #FFF;
 overflow: hidden;

 transition: all 0.5s;
}

.animate:hover, .animate:active
{
 text-decoration: none;
 color: black;
 border-color: black;
 background: #FFF;
}

.animate span
{
 display: inline-block;
 position: relative;


 transition: padding-right 0.5s;
}

.animate span:after{
 content: '  ';
 position: absolute;
 top: 0;
 right: -11px;
 opacity: 0;
 width: 10px;
 height: 10px;
 margin-top: -10px;

 background: rgba(0, 0, 0, 0);
 border: 3px solid #FFF;
 border-top: none;
 border-right: none;

 transition: opacity 0.5s, top 0.5s, right 0.5s;
 transform: rotate(-45deg);
}

.animate:hover span, .animate:active span
{
 padding-right: 20px;
 padding-left: 0em;
}

.animate:hover span:after, .animate:active span:after
{
 transition: opacity 0.5s, top 0.5s, right 0.5s;
 opacity: 1;
 border-color: black;
 right: 0;
 top: 50%;
}

select {
 width: 140px;
}

.ng-pristine, .ng-valid, .ng-not-empty, .ng-dirty, .ng-valid-parse,
.ng-touched, .ng-untouched, .ng-valid, .ng-empty {
  margin-left: 1em;
}
