@import "variables";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=New+Rocker" rel="stylesheet');

.wrapper{
    background-color: $main-header;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-style: solid;


}

.header {
  background-color: $main-header;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-style: solid;

}


.main-description{
  background-color: $main-bodytwo;
  margin: 5% auto;
  padding: 1rem 1rem;
  padding-bottom: 5rem;
  position: relative;
  max-width: 50%;
  height: 4rem;
  border-style: solid;
  box-shadow: 10px 10px 5px;

}

// .mainview {
//   background-color: $main-body;
// }

.generator{
  background-color: $main-bodytwo;
  margin: 10% auto;
  padding: 1rem 1rem;
  padding-bottom: 10px;
  position: relative;
  max-width: 50%;
  height: 15rem;
  border-style: solid;
  box-shadow: 10px 10px 5px;
}

.countryview {
  background-color: $country-body;
  h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: .5rem
    }
  p {
    font-family: sans-serif;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

.bigview{
  height: 100%;
  width: 100%;
}

.biocountry {
  background-color: $country-bodytwo;
  margin: 10% auto;
  padding: 1rem 1rem;
  padding-bottom: 5px;
  position: relative;
  max-width: 50%;
  height: 15rem;
  border-style: solid;
  box-shadow: 10px 10px 5px
}

.topalbumscountry {
  background-color: $country-bodytwo;
  margin: 10% auto;
  padding: 1rem 1rem;
  padding-bottom: 5px;
  position: relative;
  max-width: 50%;
  height: 15rem;
  border-style: solid;
  box-shadow: 10px 10px 5px
}

.popview {
  background-color: $pop-body;
}

.rockview {
  background-color: $rock-body;
  height: auto;
  width: auto;
}
