@import "variables";
@import url('https://fonts.googleapis.com/css?family=New+Rocker|Bungee+Inline|Lobster|Rock+Salt|Pacifico|Oswald');

html, body {
  height: 100%;
  width: 100%;
  background-color: $body;
}

// .bigview{
//   height: 100%;
//   width: 100%;
//   padding: 1rem 1 rem;
// }

footer{
    border-bottom: 90px solid $main-header;
    width: 100%;
    position: relative;
    margin: 0;
}

#footer-img {
  width: 100%;
}

header {
  background-color: $main-header;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  h1 {
    font-family: 'Oswald', sans-serif;
    color: $white;
    position: relative;
    top: 18px;
    left: 10px;
  }
  p {
    padding-top: 2rem;
  }
  a {
    text-decoration: none;
  }
  img {
  float: left;
  width: 100px;
  height: 100px;
  }

}

.main-description{
  background-color: $white;
  margin: 5% auto;
  padding: 2rem 2rem;
  position: relative;
  border: solid 1.5px black;
  border-radius: 5px;
  max-width: 80%;
  p {
    padding: 2em 2em;
  }
}

.mainview {
  padding: 2rem 2rem ;
  // height: auto;
  min-height: 90vh;
}

.generator{
  background-color: $white;
  margin: 2% auto;
  padding: 2rem 2rem;
  padding-bottom: 10px;
  position: relative;
  border: solid 1.5px black;
  border-radius: 5px;
  max-width: 80%;
}

#countryview {
  padding: 1rem 1rem;
  h1, h3 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: $country-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $country-bodytwo;
  }
  div.country {
    background-color: rgba($country-bodytwo, $alpha);
  }
  .country-wrapper {
    background-color: rgba($country-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    max-width: 80%;

    margin: auto;
    padding: 1rem 1rem;
    position: relative;
  }
}


#popview {
  padding: 1rem 1rem;
  h1, h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: $pop-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $pop-bodytwo;
  }
  div.pop  {
    background-color: rgba($pop-bodytwo, $alpha);
  }
  .pop-wrapper {
    background-color: rgba($pop-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    margin: auto;
    padding: 1rem 1rem;
    position: relative;
    max-width: 80%;
  }

}

#rockview {
  padding: 1rem 1rem;
  width: auto;
  h1, h3 {
    font-family: 'New Rocker', cursive;
    text-align: center;
    color: $rock-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $rock-bodytwo;
  }
  div.rock {
    background-color: rgba($rock-bodytwo, $alpha);
  }
  .rock-wrapper {
    background-color: rgba($rock-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    margin: auto;
    padding: 1rem 1rem;
    position: relative;
    max-width: 80%;
  }
}


#rapview {
  padding: 1rem 1rem;
  h1, h3 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    color: $rap-bodytwo;
  }
  p, li {
    font-family: helvetica;
    color: $rap-bodytwo;
  }
  div.rap {
    background-color: rgba($rap-bodytwo, $alpha);
  }
  .rap-wrapper {
    background-color: rgba($rap-bodytwo, $alpha);
    border: solid 1.5px black;
    border-radius: 5px;
    margin: auto;
    padding: 1rem 1rem;
    position: relative;
    max-width: 80%;
  }
}

div.video{
  margin: auto;
  text-align: center;
  padding: 1rem 1rem;
  position: relative;
  max-width: 80%;
  background-color: black;
}

.artistBio {
  margin: 5% auto;
  padding: 1rem 1rem;
  position: relative;
  border: solid 1.5px black;
  border-radius: 5px;
  max-width: 80%;
}

.topAlbums, .similarArtist, {
  padding: 1rem 1rem;
}

p {
  font-family: helvetica;
}
