.wrapper {
  background-color: #554250;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem; }

.header {
  background-color: #554250;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem; }

.mainview {
  background-color: #401841; }

.main-description {
  background-color: #811C4E;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
