@import url("https://fonts.googleapis.com/css?family=New+Rocker|Bungee+Inline|Lobster|Rock+Salt|Pacifico|Oswald");
html, body {
  height: 100%;
  width: 100%; }

.bigview {
  height: 100%;
  width: 100%;
  padding: 1rem 1 rem; }

footer {
  background-color: #554250;
  width: 100%;
  padding: 1rem;
  position: relative;
  margin: 0; }

header {
  background-color: #554250;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem; }
  header h1 {
    font-family: 'Oswald', sans-serif;
    color: #00BFFF; }
  header p {
    padding-top: 2rem; }
  header a {
    text-decoration: none; }

.main-description {
  background-color: #519ca5;
  margin: 0 auto;
  padding: 1rem 1rem;
  padding-bottom: 5rem;
  position: relative;
  max-width: 50%;
  border-style: solid; }

.mainview {
  background-color: #37486D;
  padding: 2rem 2rem;
  width: auto;
  min-height: 90vh; }

.generator {
  background-color: #519ca5;
  margin: 5% auto;
  padding: 1rem 1rem;
  padding-bottom: 10px;
  position: relative;
  max-width: 50%;
  border-style: solid; }

#countryview {
  background-color: #704633;
  padding: 1rem 1rem; }
  #countryview h1, #countryview h3 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: 1rem; }
  #countryview div.country {
    background-color: #cbd8de; }

#popview {
  background-color: #9EAD8A;
  padding: 1rem 1rem; }
  #popview h1, #popview h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 2rem; }
  #popview div.pop {
    background-color: #97CABD; }

#rockview {
  background-color: #401841;
  padding: 1rem 1rem;
  width: auto; }
  #rockview h1, #rockview h3 {
    font-family: 'New Rocker', cursive;
    text-align: center;
    padding: 2rem; }
  #rockview div.rock {
    background-color: #811C4E; }
  #rockview p, #rockview h1, #rockview h3, #rockview li {
    color: #CCCCCC; }

#rapview {
  background-color: #990000;
  padding: 1rem 1rem; }
  #rapview h1, #rapview h3 {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: 2rem; }
  #rapview div.rap {
    background-color: #7e7e7e; }

div.video {
  margin: 5% auto;
  text-align: center;
  padding: 1rem 1rem;
  position: relative;
  max-width: 50%;
  background-color: black; }

.artistBio {
  margin: 5% auto;
  padding: 1rem 1rem;
  position: relative;
  border-style: solid; }

.topAlbums, .similarArtist {
  padding: 1rem 1rem;
  position: relative;
  border-style: solid; }

p, li {
  font-family: helvetica; }
