@import url("https://fonts.googleapis.com/css?family=Pacifico");
.wrapper {
  background-color: #554250;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-style: solid; }

.header {
  background-color: #554250;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-style: solid; }

.main-description {
  background-color: #519ca5;
  margin: 5% auto;
  padding: 1rem 1rem;
  padding-bottom: 5rem;
  position: relative;
  max-width: 50%;
  height: 4rem;
  border-style: solid;
  box-shadow: 10px 10px 5px; }

.generator {
  background-color: #519ca5;
  margin: 10% auto;
  padding: 1rem 1rem;
  padding-bottom: 10px;
  position: relative;
  max-width: 50%;
  height: 15rem;
  border-style: solid;
  box-shadow: 10px 10px 5px; }

.countryview {
  background-color: #704633; }
  .countryview h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding: .5rem; }

<<<<<<< HEAD
html, body {
  height: 100%;
  width: 100%; }

.bigview {
  height: 100%;
  width: 100%; }
=======
.biocountry {
  background-color: #cbd8de;
  margin: 10% auto;
  padding: 1rem 1rem;
  padding-bottom: 5px;
  position: relative;
  max-width: 50%;
  height: 15rem;
  border-style: solid;
  box-shadow: 10px 10px 5px; }

.topalbumscountry {
  background-color: #cbd8de;
  margin: 10% auto;
  padding: 1rem 1rem;
  padding-bottom: 5px;
  position: relative;
  max-width: 50%;
  height: 15rem;
  border-style: solid;
  box-shadow: 10px 10px 5px; }
>>>>>>> b4531aa6cfdab8837b7a6295229b45f21b4d4834

.popview {
  background-color: #9EAD8A; }

.rockview {
  background-color: #401841;
  height: auto;
  width: auto; }
