<section class="countryview">
  <h1>Country</h1>

  <!-- YouTube video -->
  <div class="video">
    <ng-youtube-embed
        url="link"
        autoplay="true"
        color="white"
        disablekb="true"
        width="100%"
        playsinline="true">
    </ng-youtube-embed>
  </div>

  <!-- artist bio -->

  <div class="artistBio"> <h2>Biography</h2>
    <p>{{artistBio}}</p>
  </div>

  <!-- top albums -->
  <div class="topAlbums albumColumn"> <h2>Top Albums</h2>
    <p ng-if="showAlbumError">{{albumErrorMsg}}</p>

    <ul ng-if="showAlbumData">
      <li ng-repeat="album in albumArray | limitTo:25">{{album.name}}</li>
    </ul>
  </div>

  <!-- similar artist -->
  <div class="similarArtist artistColumn"><h2>Similar Artists</h2>
    <p ng-if="showSimArtistError">{{simArtistErrorMsg}}</p>


    <ul ng-if="showSimArtistData">
      <li ng-repeat="simArtist in simArtistArray | limitTo:25">{{simArtist.name}}</li>
    </ul>
  </div>
</section>
