<section id="countryview">
  <div class="container">
      <div class="row">
          <div class="twelve columns">
                <h1>Country</h1>
          </div>
      </div>
      <!-- YouTube video -->
       <div class="row">
        <div class="twelve columns">
            <div class="video">
              <ng-youtube-embed
                    url="link"
                    autoplay="true"
                    color="white"
                    disablekb="false"
                    width="100%"
                    playsinline="true">
              </ng-youtube-embed>
            </div>
        </div>
      </div>
      <!-- artist bio -->
      <div class="row">
        <div class="twelve columns">
          <div class="artistBio country">
            <h3>Artist Biography</h3>
            <p>{{artistBio}}</p>
          </div>
        </div>
      </div>
      <!-- top albums -->
      <div class="row country-wrapper"> <!-- this row needs an extra class made to handle the border on the whole box -->
        <div class="six columns">
            <div class="topAlbums country">
              <h3>Top Albums</h3>
              <p ng-if="showAlbumError">{{albumErrorMsg}}</p>
              <ul ng-if="showAlbumData">
                <li ng-repeat="album in albumArray | limitTo:25">{{album.name}}</li>
              </ul>
            </div>
        </div>

      <!-- similar artist -->

        <div class="six columns">
          <div class="similarArtist country">
            <h3>Similar Artists</h3>
            <p ng-if="showSimArtistError">{{simArtistErrorMsg}}</p>
            <ul ng-if="showSimArtistData">
              <li ng-repeat="simArtist in simArtistArray | limitTo:25">{{simArtist.name}}</li>
            </ul>
          </div>
        <div>
      </div><!-- end 2 column row -->

  </div><!-- end of container -->
</section>
