<section class="countryview">
  <h1>Country</h>

  <!-- YouTube video -->
  <div class="videocountry">
    <ng-youtube-embed
        url="link"
        autoplay="true"
        color="white"
        disablekb="true">
    </ng-youtube-embed>
  </div>

  <!-- artist bio -->
  <div class="biocountry">
    <p>Test Bio</p>
  </div>

 <!-- top albums -->
  <div class="topalbumscountry">
    <ul>
      <li></li>
    </ul>
  </div>

  <!-- similar artist -->
  <div class="simartistcountry">
    <ul>
      <li></li>
    </ul>
  </div>
</section>
