<section>
    <!-- main content -->
    <div></div> <!-- description content -->

    <div><!-- input selection -->
      <p>Choose a Year</p>
    	<select ng-model="year">
        	<option ng-repeat="decade in yearArray" value="{{decade}}">{{decade}}</option>
      </select>

      <p>Choose a Genre</p>
      <select ng-model="genre">
        	<option ng-repeat="musicType in genreArray" value="{{musicType}}">{{musicType}}</option>
      </select>
      <button type="button" ng-click="sendChoices(year, genre)">Get My Video!</button>
    </div> 

</section>
