<section class="popview">
  <h1>Pop</h1>

  <!-- YouTube video -->
  <div class="videopop">
    <ng-youtube-embed
        url="link"
        autoplay="true"
        color="white"
        disablekb="true">
    </ng-youtube-embed>
  </div>

  <!-- artist bio -->
  <div class="biopop">
    <p>Test Bio</p>
  </div>

  <!-- top albums -->
  <div class="topalbumspop">
    <ul>
      <li></li>
    </ul>
  </div>

  <!-- similar artist -->
  <div class="simartistpop">
    <ul>
      <li></li>
    </ul>
  </div>
</section>
