<section class="rapview">
  <h1>Rap</h1>

  <!-- YouTube video -->
  <div class="videorap">
    <ng-youtube-embed
        url="link"
        autoplay="true"
        color="white"
        disablekb="true"
        end="20">
    </ng-youtube-embed>
  </div>

  <!-- artist bio -->
  <div class="biorap">
    <p>Test Bio</p>
  </div>

  <!-- top albums -->
  <div class="topalbumsrap">
    <ul>
      <li></li>
    </ul>
  </div>

  <!-- similar artist -->
  <div class="simartistrap">
    <ul>
      <li></li>
    </ul>
  </div>
</section>
