<section class="rockview">
    <h1>Rock</h1>

    <!-- YouTube video -->
    <div class="videorock">
      <ng-youtube-embed
          url="link"
          autoplay="true"
          color="white"
          disablekb="true">
      </ng-youtube-embed>
    </div>

    <!-- artist bio -->
    <div class="biorock">
      <p>Test Bio</p>
    </div>

    <!-- top albums -->
    <div class="topalbumsrock">
      <ul>
        <li></li>
      </ul>
    </div>
    
    <!-- similar artist -->
    <div class="simartistrock">
      <ul>
        <li></li>
      </ul>
    </div>

</section>
