<section class="rockview">
    <h1>Rock</h1>

    <!-- YouTube video -->
    <div class="video">
      <ng-youtube-embed
          url="link"
          autoplay="true"
          color="white"
          disablekb="true">
      </ng-youtube-embed>
    </div>

    <!-- artist bio -->
    <div class="artistBio">
      <p>{{artistBio}}</p>
    </div>

    <!-- top albums -->
    <div class="topAlbums">
      <ul>
        <li ng-repeat="album in albumArray | limitTo:25">{{album.name}}</li>
      </ul>
    </div>

    <!-- similar artist -->
    <div class="similarArtist">
      <ul>
        <li ng-repeat="simArtist in simArtistArray | limitTo:25">{{simArtist.name}}</li>
      </ul>
    </div>

</section>
