<section class="rockview">
  <div class="container">
      <div class="row">
          <div class="twelve columns">
                <h1>Rock</h1>
          </div>
      </div>
      <!-- YouTube video -->
       <div class="row">
        <div class="twelve columns">
            <div class="video">
              <ng-youtube-embed
                    url="link"
                    autoplay="true"
                    color="white"
                    disablekb="false"
                    width="100%"
                    playsinline="true">
              </ng-youtube-embed>
            </div>
        </div>
      </div>
      <!-- artist bio -->
      <div class="row">
        <div class="twelve columns">
          <div class="artistBio rock">
            <h3>Artist Biography</h3>

            <p ng-if="showArtistError">{{artistErroMsg}}</p>

            <p ng-if="showFull">{{artistBio}}</p>

            <p ng-if="showTruncated">{{truncatedBio}}
              <a class="bioLink" ng-href="{{bioUrl}}/+wiki" target="_blank">...read more</a>
            </p>
          </div>
        </div>
      </div>
      <!-- top albums -->
      <div class="row rock-wrapper"> <!-- this row needs an extra class made to handle the border on the whole box -->
        <div class="six columns">
            <div class="topAlbums">
              <h3>Top Albums</h3>
              <p ng-if="showAlbumError">{{albumErrorMsg}}</p>

             <ul ng-if="showAlbumData">
                <li ng-repeat="album in topAlbumArray | limitTo:25">
                  <a ng-href="{{album.url}}" target="_blank">{{album.name}}</a>
                </li>
              </ul>
            </div>
        </div>

      <!-- similar artist -->

        <div class="six columns">
          <div class="similarArtist">
            <h3>Similar Artists</h3>
            <p ng-if="showSimArtistError">{{simArtistErrorMsg}}</p>

            <ul ng-if="showSimArtistData">
              <li ng-repeat="simArtist in simArtistArray | limitTo:25">
                <a ng-href="{{simArtist.url}}" target="_blank">{{simArtist.name}}</a>
              </li>
            </ul>
          </div>
        </div><!-- end 2 column row -->
      </div>

      <!-- return home -->
      <div class="row">
        <div class="twelve columns">
          <button type="button" class="newVid-button"><a href="/">Get Another Video!</a></button>
        </div>
      </div>

  </div><!-- end of container -->
</section>
